---
title: "Settings"
showToc: false
hidemeta: true
comments: false
description: "Quick Settings to customize ZoFoss Website :-)"
disableHLJS: true
disableShare: true
ShowReadingTime: false
hideJsonSchema: true
---

<p>Quick Settings to customize ZoFoss Website :-)</p>

<link crossorigin="anonymous" href="/assets/css/settings.css" rel="preload stylesheet" as="style" />
<div>
    <label class="setblock" for="htToggle">Hide TitleBar on Scroll<label class="switch">
            <input class="inpcheck" type="checkbox" id="htToggle" autocomplete="off" />
            <span class="slider"></span></label></label>
    <label class="setblock" for="dtToggle">Dark Theme<label class="switch">
            <input class="inpcheck" id="dtToggle" type="checkbox" autocomplete="off" />
            <span class="slider"></span></label></label>
    <label class="setblock" for="btToggle">Hide Back to Top Button<label class="switch">
            <input class="inpcheck" id="btToggle" type="checkbox" autocomplete="off" />
            <span class="slider"></span></label></label>
</div>

<script crossorigin="anonymous" defer src="/assets/js/settings.js"></script>
