:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 826px; /* 720px */
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(12, 11, 11);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    --hoverback: #ddd;
}

.dark {
    --theme: black;
    --entry: rgba(1, 15, 97, 0.096);
    --primary: rgb(218, 218, 219);
    --secondary: #ddd;
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgba(0, 23, 164, 0.28);
    --border: rgb(51, 51, 51);
    --hoverback: #2136f2;
}

.list {
    background: var(--code-bg);
}

.dark .list {
    background: var(--theme);
}
