.setblock {
    height: 100%;
    width: 100%;
    display: block;
    box-shadow: inset 0 0 0 2.5px var(--secondary);
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 18px;
    transition: 320ms;
    border-radius: 12px;
}

.setblock:hover {
    box-shadow: inset 0 0 0 2.5px #2136f2;
}

.switch {
    position: relative;
    width: 56px;
    height: 28px;
    float: right;
    margin-top: 1px;
}

.switch .inpcheck {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b9b0b09e;
    -webkit-transition: .4s;
    border-radius: 34px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

.inpcheck:checked+.slider {
    background-color: #2136f2;
}

.inpcheck:focus+.slider {
    box-shadow: 0 0 1px #2136f2;
}

.inpcheck:checked+.slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}