{{- if or .Params.editPost.URL site.Params.editPost.URL -}} {{- $fileUrlPath :=
path.Join .File.Path }}

<div class="editlink">
  <h3>Found a mistake or want to improve this page?</h3>
  <hr />
  <ul>
    <li>
      <a
        href="{{ .Params.editPost.URL | default site.Params.editPost.URL }}{{ if .Params.editPost.appendFilePath | default ( site.Params.editPost.appendFilePath | default false ) }}/{{ $fileUrlPath }}{{ end }}"
        target="_blank"
        rel="noopener noreferrer"
        >View / Edit on <b>GitLab</b></a
      >
    </li>
    <li>
      <a
        href="https://gitlab.com/zofoss/website/-/raw/main/content{{ if .Params.editPost.appendFilePath | default ( site.Params.editPost.appendFilePath | default false ) }}/{{ $fileUrlPath }}{{ end }}"
        title="Raw Source"
        target="_blank"
        rel="noopener noreferrer"
        >Source on <b>GitLab</b></a
      >
    </li>
    <li>
      <a
        href="https://gitlab.com/zofoss/website/-/issues/new?issue[title]=There%27s%20a%20problem%20on%20'{{ $fileUrlPath }}'%20page&issue[description]=%3C!---%20Please%20Describe%20the%20problem%20briefly.%20--%3E"
        title="This will take you to GitLab to file a new issue"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Report a problem with this content on <b>GitLab</b></a
      >
    </li>
    <li>
      Want to fix the problem yourself?
      <a
        href="https://gitlab.com/zofoss/website/-/merge_requests"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Create a Pull Request</a
      >
    </li>
  </ul>
</div>

{{- end }}
