{{- if not (.Param "hideFooter") }}
<footer class="footer">
    {{- if site.Copyright }}
    <span>{{ site.Copyright | markdownify }}</span>
    {{- else }}
    <span>Copyright &copy; {{ now.Year }} | <a href="{{ "" | absLangURL }}">{{ site.Title }}</a> | <a href="/credits">Credits</a> | <a href="https://gitlab.com/zofoss/website/-/blob/main/README.md#license" target="_blank" rel="noopener noreferrer nofollow">License</a></span>
    {{- end }}
</footer>
{{- end }}

{{- if (not site.Params.disableScrollToTop) }}
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z" fill="currentColor"></path></svg></a>

{{- end }}

{{- partial "extend_footer.html" . }}

<script defer crossorigin="anonymous" src="/assets/js/footer521.js"></script>

{{- if (and (eq .Kind "page") (ne .Layout "archives") (ne .Layout "search") (.Param "ShowCodeCopyButtons")) }}
<script defer crossorigin="anonymous" src="/assets/js/copybtn-footer522.js"></script>
{{- end }}
