{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <p>{{ .Content | markdownify }}</p><br>
        <h3>ZoFoss is</h3>
        <code>A public platform for the tech/foss community built by the community.</code>
        <ul class="terms-tags">
            <li><span id="tsn">📜 Open-Source</span></li>
            <li><span id="tsn">❌ Ad Free</span></li>
            <li><span id="tsn">👤 Community Built</span></li>
        </ul>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
<h3>Latest Open-Source Android, Linux and Web related articles</h3><br>
{{- end -}}
