.footer {
    font-size: 14px;
    color: var(--secondary);
}

.footer {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align: center;
    line-height: 24px;
}

.footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.footer span:last-child {
    white-space: nowrap;
}

.top-link {
    font-size: 12px;
    visibility: hidden;
    position: fixed;
    bottom: 1.3rem;
    right: 1.3rem;
    z-index: 99;
    background: var(--theme);
    width: 42px;
    height: 42px;
    padding: 12px;
    border: 2px solid;
    color: inherit !important;
    border-radius: 64px;
    transition: 400ms;
}

.top-link svg {
    transform: scale(2.0);
}

.top-link:hover,
.top-link:focus {
    background-color: var(--hoverback);
}