.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    position: fixed;
    border-bottom: 1px solid;
    background-color: var(--theme);
    z-index: 50;
}

.nav a {
    display: block;
}

.logo {
    display: flex;
    margin-left: 10px;
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
    border-radius: 100%;
}

#theme-toggle svg {
    height: 17px;
    transform: scale(1.2);
}

button#theme-toggle,
#search-btn {
    font-size: 26px;
    margin: auto 4px;
    transition: 200ms;
    transform: scale(1.2)
}

button#theme-toggle:focus,
#search-btn:focus {
    outline: none;
    opacity: .6;
}

.logo a:focus,
#menu li a:focus {
    outline: 0;
    color: #2186f2;
}

button#theme-toggle {
    padding-right: 7px;
}

button#theme-toggle:hover,
#search-btn:hover,
.menu-con:hover {
    opacity: .6;
}

html.dark #moon {
    vertical-align: middle;
    display: none;
}

html:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    margin-right: 14px;
}

#menu li+li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu a:hover,
.logo a:hover {
    color: #2186f2;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid #2136f2;
}

a:not(.logo a):not(.post-entry a):not(#menu a):not(.terms-tags a):not(.post-tags a):not(#search-btn) {
    color: #5865F2;
}

a {
    transition: 200ms;
}

a:hover:not(.logo a):not(.post-entry a):not(#menu a):not(.terms-tags a):not(.post-tags a):not(#search-btn):not(#top-link) {
    color: #2196f3;
    box-shadow: 0px 2px;
}

.share-buttons a:hover {
    box-shadow: 0px 0px !important;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}

.menu-con {
    display: none;
}

.flexdis {
    display: flex;
}

/* Mobile Menu */
@media only screen and (max-width: 800px) {
    .menu-con {
        display: inline-block;
        cursor: pointer;
        padding-top: 11.5px;
        transition: 200ms;
    }

    .logo {
        flex-grow: 1
    }

    .mbar1,
    .mbar2,
    .mbar3 {
        width: 28px;
        height: 3px;
        background-color: currentcolor;
        margin: 6px 0;
        transition: 0.4s;
    }

    .me-new .mbar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .me-new .mbar2 {
        opacity: 0;
    }

    .me-new .mbar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -8px);
        transform: rotate(45deg)translate(-6px, -7px)
    }

    #menu {
        display: none;
    }

    .op-menu #menu {
        animation: fadeInUp 0.4s;
        display: block;
        position: fixed;
        text-align: center;
        width: 100%;
        background-color: var(--theme);
        right: 0px;
        margin-right: 0px;
        margin-top: 61px;
        border-bottom: 1px solid;
        height: 100%;
        padding-bottom: 100px;
    }

    #menu li+li {
        margin-inline-start: 0px;
    }

    #menu li {
        padding: 7px;
    }

    #menu a {
        border: 2px solid;
    }

    #menu a:hover {
        color: var(--secondary);
        border-color: #2136f2;
    }

    .main {
        padding: 85px 20px 20px 20px !important;
    }
}




html.hidetitlebar {
    scroll-padding-top: 2px;
}

.hidetitlebar .nav {
    transition: top 0.3s;
    top: 0;
}

.noscroll {
    overflow: hidden;
}