.main {
    position: relative;
    animation: fadeIn 0.25s;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
    padding-top: 85px;
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

html {
    scroll-padding-top: 70px;
}

kbd {
    font-family: Consolas, "Lucida Console", monospace;
    display: inline-block;
    padding: 0px 4px;
    box-shadow: 1px 1px 1px #777;
    margin: 2px;
    font-size: small;
    vertical-align: text-bottom;
    font-weight: 500;
    cursor: pointer;
    font-variant: small-caps;
    letter-spacing: 0.2px;
    border-radius: 5px;
    background: #333;
    color: white;

}

kbd:hover {
    box-shadow: 1px 1px 1px #333;
}

kbd:active {
    box-shadow: 1px 1px 0px #ddd inset;
}

kbd kbd {
    padding: 0px;
    margin: 0 1px;
    box-shadow: 0px 0px 0px black;
    vertical-align: baseline;
    background: none;
}

a[target="_blank"]:not(.share-buttons a):not(.social-icons a):not(.md__image):after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

a.md__image {
    cursor: zoom-in;
}

html.dark a[target="_blank"]:not(.share-buttons a):not(.social-icons a):not(.md__image):after {
    filter: invert(100);
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* https://codepen.io/astro785/full/xYbPZK */
.loader {
    position: relative;
    margin: auto;
    display: block;
    top: 48%;
    width: 50px;
    display: block
}

.loader::before {
    content: '';
    display: block;
    padding-top: 100%
}

.circular {
    animation: rotate 1s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color-load 6s ease-in-out infinite;
    stroke-linecap: round
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

@keyframes color-load {

    0%,
    100% {
        stroke: #2136f2
    }

    40% {
        stroke: #2136f2
    }

    66% {
        stroke: #2136f2
    }

    80%,
    90% {
        stroke: #2136f2
    }
}

#page-loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2147483647;
    display: none;
    text-align: center;
    width: 100%;
    backdrop-filter: blur(10px);
}

#page-loader .logo {
    position: relative;
    top: 46%;
    margin: auto;
    width: 53px;
}

.loadcm {
    display: block;
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    color: var(--secondary);
    font-size: 15px;
    line-height: 34px;
    background: var(--code-bg);
    border-radius: var(--radius);
    border: 2px solid;
    transition: .19s;
}

.loadcm:hover,
.loadcm:focus {
    background: var(--hoverback);
}

.loadcm:active {
    transform: scale(.96)
}