.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
    font-size: 34px;
    line-height: 1.3;
}

.first-entry .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
    font-size: 14px;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    position: relative;
    margin-bottom: 35px;
    padding: var(--gap);
    background: var(--entry);
    transition: transform 0.1s;
}
.post-entry .entry-link {
    border: 2px solid;
    box-shadow: 7px 9px #2136f2;
    transition: .25s;
    border-radius: var(--radius);
    outline: 0;
}
#searchResults .post-entry {
    margin-bottom: 20px;
}
#searchResults .post-entry a {
    border: 2px solid;
    transition: 0.25s;
    box-shadow: 4px 5px #2136f2;
    border-radius: var(--radius);
}
.post-entry:active {
    transform: scale(0.96);
    border-color: #2136f2;
    box-shadow: 0 0;
}

.post-entry .entry-link:hover,
#searchResults .post-entry a:hover {
    border-color: #2136f2;
    box-shadow: 0 0;
}

.tag-entry .entry-cover {
    display: none;
}

.entry-header h2 {
    font-size: 24px;
    line-height: 1.3;
}

.entry-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-cover,
.entry-isdraft {
    font-size: 14px;
    color: var(--secondary);
}

.entry-cover {
    margin-bottom: var(--gap);
    text-align: center;
}

.entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    height: auto;
}

.entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary);
}