.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
}

.terms-tags a, .terms-tags #tsn {
    display: block;
    padding: 3px 10px;
    background: var(--code-bg);
    border-radius: 6px;
    transition: 0.19s;
    border: 2px solid;
}

.terms-tags a:active,
.post-tags a:active {
    transform: scale(0.96);
}
